<div class="container">
  <header class="d-flex flex-wrap flex-column align-items-center justify-content-center">

    <a href="#" class="navbar-brand">NGPRJ Project Tracking Tool</a>

    <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center nb-md-0">
      <li><a href="#" class="nav-link px-2" routerLink="/home" routerLinkActive="active">Dashboard</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/projects" routerLinkActive="active">Progetti</a></li>
    </ul>

  </header>
</div>